<a href="https://colab.research.google.com/github/zhoujiuzhou9/ReadyForAI/blob/main/pandas0703.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
data_dict={'name':['David','Tim','Alice'],
           'age':[18,19,30]}

pandas_df=pd.DataFrame(data_dict)
pandas_df

    name  age
0  David   18
1    Tim   19
2  Alice   30

In [5]:
df=pd.DataFrame(columns=['age','score'])
df['score']=np.random.randint(100,size=(10))
df['age']=np.random.randint(25,size=(10))
df

   age  score
0   15     77
1    6     42
2    4     32
3    8     64
4   12     56
5    5     54
6    8     74
7   20     43
8    4     15
9   16     81